{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/index.css' %}">
{% endblock css %}

{% block content %}

<h1 class="title">회원 목록</h1>

<div class="content">
    {% for user in users %}
    <a class="link" href="{% url 'accounts:detail' user.id %}"><h1>{{ user.username }}</h1></a>
    <hr>
    {% endfor %}
    <div style="height:1rem;"></div>
    <a class="btn btn-outline-dark" href="{% url 'articles:index' %}">홈으로</a>
</div>

{% endblock content %}