{% extends 'base.html' %}

{% block content %}

<a href={% url 'articles:index' %}>홈으로</a>

<div class="row">
    {% for article in articles %}
    <div class="col-3 my-3">
        <div class="card">
            {% if article.image %}
                <img class="card-img-top" src="{{ article.image.url }}" alt="" width="400" height="300">
            {% else %}
                <img class="card-img-top" src="https://dummyimage.com/300X400/" alt="" width="400" height="300">
            {% endif %}
            <div class="card-img-body">
                <h1>{{ article.title }}</h1>
                <p>{{ article.created_at }} | {{ article.updated_at }}</p>
                <h1>{{ article.content }}</h1>
                <div style="display:flex; flex-direction:row;">
                    <a href="{% url 'articles:update' article.pk %}"><p>수정하기</p></a>
                    <a href="{% url 'articles:delete' article.pk %}"><p style="margin-left:0.5rem;">삭제하기</p></a>
                    <a href="{% url 'articles:comment' article.pk %}"><p style="margin-left:0.5rem;">댓글보기</p></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}